# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# ★ 環境変数ファイル (絶対にGitHubに公開しない)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android